.task-box{
    margin: 10px;
    padding: 10px;
    width: 100%;
    height: 180px;
    background-color: #057797;
    border: 3px solid #fff;
}
.task-box:hover { background-color: #484747; }


.task-box-icon{
    text-align: center;
    margin: auto;
    width: 50%;
    padding-top: 10% !important;

    padding: 10px;
    color: aliceblue;
    font-size: 54px;
}

.task-box-text{
    color: #fff !important;
    text-align: center;
    font-size:18px;
}